.base_colors {
  --color-navy-nightfall: #0d151b;
  --color-tangerine-sunset: #fb4b37;
  --color-golden-sunset: #fbcc3b;
  --color-amber-dawn: #ffd986;
  --color-azure-afternoon: #629bc2;
  --color-ivory-daybreak: #f0ebeb;
  --color-light-sand-dune: #d6d2c2;
  --color-evening-shadow: #514a45;
}

.color_theme {
  --accent-active: var(var(--color-golden-sunset));
  --main-background-color: var(--color-navy-nightfall);
  --header-text-color: var(--color-ivory-daybreak);
  --summary-value-text-color: hsl(from var(--header-text-color) h s l / 0.9);
  --offline-color: oklch(from var(--color-tangerine-sunset) calc(l * 0.4) calc(c * 0.1) h);
  --online-color: oklch(from var(--color-golden-sunset) calc(l * 0.8) calc(c * 0.25) h);
  --active-color: var(--color-golden-sunset);
  --wedge-online-color: oklch(from var(--color-azure-afternoon) calc(l * 0.5) calc(c * 0.5) h);
  --wedge-active-color: var(--color-azure-afternoon);
  --timeseries-line-color: var(--color-tangerine-sunset);
  --timeseries-label-color: #7f8186;
  --timeseries-value-color: oklch(from var(--timeseries-label-color) calc(l * 1.2) c h);
}

body {
  background: var(--main-background-color);
}

#svg_root {
  fill: none;
  stroke: none;
  stroke-width: 0.01;
  font-family: Montserrat, sans-serif;
  font-size: 0.1pt;
}

.header {
  fill: var(--header-text-color);
  font-weight: 300;
  font-size: 0.1pt;
}

.right_header {
  text-anchor: end;
}

.status_ring_wrapper.offline {
  stroke: var(--offline-color);
}

.status_ring_wrapper.online {
  stroke: var(--online-color);
}

.status_ring_wrapper.active {
  stroke: var(--active-color);
}

.single_wedge_group {
  display: none;
}

.single_wedge_group.online,
.single_wedge_group.active {
  display: inherit;
}

.wedge_node.online {
  fill: var(--wedge-online-color);
}

.wedge_node.active {
  fill: var(--wedge-active-color);
}

.wedge_identifier {
  fill: var(--header-text-color);
  font-size: 0.04pt;
}

.wedge_identifier.small_text {
  font-size: 0.03pt;
}

.summary_text_value {
  fill: var(--summary-value-text-color);
  font-size: 0.03pt;
  font-weight: 200;
}

.summary_watched_circle {
  fill: var(--wedge-active-color);
}

.summary_active_circle {
  fill: var(--active-color);
}

.timeseries_bg {
  fill: none;
}

.timeseries_path {
  stroke: var(--timeseries-line-color);
  clip-path: url(#inner_circle_clip);
}

.timeseries_big_label {
  font-size: 0.04pt;
  font-weight: 400;
  text-anchor: end;
}

.timeseries_small_label {
  font-size: 0.03pt;
  font-weight: 400;
  text-anchor: end;
}

.timeseries_value {
  fill: var(--timeseries-value-color);
  font-size: 0.05pt;
  font-weight: 300;
  text-anchor: middle;
}

.tooltip_text {
  fill: #fff;
  font-size: 0.025pt;
  font-weight: 200;
  text-anchor: middle;
}

.tooltip_outline {
  stroke: #fff;
  stroke-width: 0.002;
  fill: #000;
}

.tooltip_display_group {
  opacity: 0;
  transition: opacity 0.35s ease;
}

.tooltip_wrapper_group:hover .tooltip_display_group {
  opacity: 1;
}

.server_status_label {
  fill: var(--timeseries-label-color);
  font-weight: 300;
  font-size: 0.06pt;
  text-anchor: middle;
}

.server_status_value {
  fill: var(--timeseries-value-color);
  font-weight: 100;
  font-size: 0.06pt;
  text-anchor: middle;
}

.server_status_offline {
  fill: var(--timeseries-line-color);
  font-weight: 400;
  font-size: 0.06pt;
  text-anchor: middle;
}

.test_circle {
  fill: #fff;
}

.test_line {
  stroke: #fff;
  stroke-width: 0.005;
}
